@keyframes slide {
  0% {
    /* transform: translate(0, 0); */
    height: 232px;
  }
  100% {
    /* transform: translate(0, 0); */
    height: 50px;
  }

  50% {
    /* transform: translate(0, 10px); */
    height: 232px;
  }
}
.arrow {
  position: absolute;
  top: 50px;
  left: 50px;
  /* animation-name: slide;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; */
}
