.wrapper {
  position: relative;
  overflow: hidden;
  /* display: flex;
  justify-content: center; */
}

.dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.navigation {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: -10px;
}

.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
}

.arrowLeft {
  right: 5px;
  top: 0px;
}

.arrowRight {
  right: 5px;
  bottom: 0px;
}

.arrowDisabled {
  fill: rgba(255, 255, 255, 0.5);
}
